:root {
  --primary-bg: #FAFAFA;
  --secondry-bg: #E26414;
  --header-bg: rgba(244, 244, 244, 0.6);
  --default-txt: #353535;
  --default-heading-text: #232323;
  --primary-tag-bg: #666666;
  --sale-tag-bg: #7FBC1E;
  --default-bg: #ffffff;
  --secondry-border: #e9e9e9;
  --sold-out-bg: #C92C2C;
}

footer {
  margin-top: 50px;
}
footer h4 {
  font-size: 20px;
}
footer .details {
  width: 21%;
}
footer .details p {
  color: var(--primary-tag-bg);
  margin: 20px 0;
}
footer .details ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .details li {
  background: #3b5999;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 5px;
}
footer .details li img {
  margin: 8px;
}
footer .details li:first-child {
  margin: 0;
}
footer .details li:nth-child(2) {
  background: #cc2366;
}
footer .details li:nth-child(3) {
  background: #000;
}
footer .details li:nth-child(4) {
  background: #ffb800;
}
footer .details li:last-child {
  background: #00aced;
}
footer .details li:hover {
  opacity: 0.8;
}
footer .footer-links a {
  font-size: 16px;
  color: var(--primary-tag-bg);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
footer .footer-links a:hover {
  color: var(--secondry-bg);
}
footer .footer-links li {
  margin: 10px 0;
}
footer .contact-us li {
  margin: 30px 0;
}
footer .contact-us li h4 {
  font-size: 20px;
}
footer .contact-us li p {
  color: var(--primary-tag-bg);
}
footer .contact-us li a {
  font-size: 16px;
  color: var(--primary-tag-bg);
}
footer .contact-us .contact-us-details .contact-us-image {
  background: var(--secondry-bg);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}
footer .contact-us .contact-us-details img {
  margin: 9px;
}
.copyright-bg {
  background: var(--default-heading-text);
  padding: 10px 0;
}
.copyright-bg .copyright li {
  margin-left: 5px;
}
.copyright-bg .copyright p {
  color: var(--default-bg);
  line-height: 10px;
}
.copyright-bg .copyright img {
  display: inline-block;
}

.header-bg {
  background: var(--header-bg);
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.header-bg .header nav li {
  font-size: 16px;
  margin: 0 20px;
  position: relative;
}
.header-bg .header nav .new-tag {
  font-size: 10px;
  color: var(--default-bg);
  background: var(--primary-tag-bg);
  padding: 0 5px;
  position: absolute;
  top: -20px;
  left: 50px;
}
.header-bg .header nav .sale-tag {
  background: var(--sale-tag-bg);
}
.header-bg .header nav li a {
  color: var(--default-txt);
  padding-bottom: 42px;
}
.header-bg .header nav ul > li {
  margin: 0 30px 0 0;
  text-transform: capitalize;
  line-height: 20px;
  position: relative;
}
.header-bg .header nav ul > li:hover > a {
  color: var(--secondry-bg);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.header-bg .header nav li ul {
  position: absolute;
  left: 0;
  top: 54px;
  background: var(--secondry-border);
  width: 180px;
  display: none;
  z-index: 999;
  border-bottom: 3px solid var(--default-txt);
}
.header-bg .header nav li ul li {
  font-size: 16px;
  color: var(--default-txt);
  border-bottom: 1px solid var(--default-bg);
  margin-right: 0;
}
.header-bg .header nav li ul li:last-child {
  border-bottom: 0;
}
.header-bg .header nav li ul li a {
  padding: 10px;
  color: var(--default-txt);
  display: block;
}
.header-bg .header nav li ul li a:hover {
  background: var(--secondry-bg);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  color: var(--default-bg);
}
.header-bg .header nav ul li:hover ul {
  display: block;
}
.header-bg .header nav li:nth-child(6) {
  margin-right: 200px;
}
.header-bg .header nav li:nth-child(n+7) {
  margin: 0 10px;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--card-bg);
  font-size: 14px;
  line-height: 29px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 1280px;
  margin: auto;
}

.flex, .facilities-bg .facilities li, .latest-news .latest-news-details, .testimonial-wraper .testimonial-bg .testimonial, .special-product .special-products-details, footer .contact-us .contact-us-details, .copyright-bg .copyright ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex, .facilities-bg .facilities li, .latest-news .latest-news-details, .testimonial-wraper .testimonial-bg .testimonial, .special-product .special-products-details, footer .contact-us .contact-us-details, .copyright-bg .copyright ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.display-flex, .facilities-bg .facilities ul, .latest-news ul, .companies ul, .deal-products ul, .testimonial-wraper, .about, .deal-of-the-day .deal-of-the-day-details ul, .feature ul, .collections ul, footer, .copyright-bg .copyright, .header-bg .header, .header-bg .header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-content-center, .deal-of-the-day .countdown-btn, .view-all, .trending-products .star ul, .products-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-colomn, .collections .collections-details, .slider .slider-details, footer .contact-us .contact-us-details .contact-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-wrap, .special-product ul, .trending-products ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  font-size: 54px;
  font-weight: 500;
}

h2 {
  font-size: 36px;
  font-weight: 500;
  color: var(--default-heading-text);
}

p {
  font-size: 16px;
}

.slider {
  background-image: url(../images/slider.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0 150px;
}
.slider .slider-details {
  margin-left: 50%;
  text-align: center;
}
.slider .slider-details h3 {
  font-size: 26px;
  font-weight: 400;
  color: var(--default-heading-text);
}
.slider .slider-details h1 {
  margin: 20px 0 30px;
  color: var(--default-heading-text);
}
.slider .slider-details p {
  background: var(--default-bg);
  padding: 10px 60px;
  border-radius: 30px;
  margin: auto;
  display: inline-block;
}
.slider .slider-details a {
  background: var(--secondry-bg);
  display: block;
  margin: auto;
  margin-top: 30px;
  padding: 10px 20px;
  color: var(--default-bg);
  font-size: 16px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.slider .slider-details a:hover {
  background: var(--default-heading-text);
}

.collections li {
  width: 33.33%;
  margin: 10px 10px 0 0;
  position: relative;
}
.collections li:first-child {
  margin-left: 10px;
}
.collections img {
  width: 100%;
}
.collections .collections-details {
  text-align: center;
  position: absolute;
  top: 35px;
  right: 20px;
}
.collections .collections-details h4 {
  font-size: 24px;
  font-weight: 400;
  color: var(--secondry-bg);
}
.collections .collections-details h3 {
  font-size: 28px;
  margin: 10px 0 20px;
  font-weight: 500;
}
.collections .collections-details p {
  border: 1px solid var(--primary-tag-bg);
  padding: 9px 18px;
  color: var(--primary-tag-bg);
  border-radius: 5px;
  display: inline-block;
}
.collections .collections-details a {
  background: var(--secondry-bg);
  display: inline-block;
  margin: auto;
  margin-top: 20px;
  padding: 10px 20px;
  color: var(--default-bg);
  font-size: 16px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.collections .collections-details a:hover {
  background: var(--default-heading-text);
}

.heading {
  text-align: center;
  margin: 100px 0 0 0;
}

.products-navigation li {
  margin: 40px 20px 20px;
}
.products-navigation a {
  font-size: 16px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  padding: 8px 15px;
  color: var(--default-heading-text);
}
.products-navigation li:hover a {
  background: var(--secondry-bg);
  color: var(--default-bg);
}
.products-navigation li:first-child a {
  background: var(--secondry-bg);
  color: var(--default-bg);
}

.trending-products li {
  width: 25%;
  text-align: center;
  margin-top: 20px;
  position: relative;
}
.trending-products .product-sale-tag {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 10px;
  background: var(--sale-tag-bg);
  color: var(--default-bg);
  border-radius: 50%;
  padding: 10px;
  line-height: 20px;
}
.trending-products .sold-out-tag {
  position: absolute;
  top: 10px;
  right: 20px;
  background: var(--sold-out-bg);
  color: var(--default-bg);
  border-radius: 5px;
  padding: 5px 10px;
  line-height: 20px;
  font-size: 10px;
}
.trending-products span {
  text-decoration: line-through;
  color: var(--primary-tag-bg);
}
.trending-products h4 {
  font-size: 20px;
  font-weight: 400;
}
.trending-products p {
  font-weight: 500;
  font-size: 20px;
}
.trending-products a {
  color: var(--default-heading-text);
  font-size: 20px;
}
.trending-products .star ul {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.trending-products .star li {
  margin: -170px 0px 0 0px;
  width: 6%;
}

.view-all .view-all-btn {
  background: var(--secondry-bg);
  display: inline-block;
  margin: auto;
  margin-top: 40px;
  padding: 10px 20px;
  color: var(--default-bg);
  font-size: 16px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.view-all .view-all-btn:hover {
  background: var(--default-heading-text);
}

.feature ul {
  margin: 100px 0 0 0;
}
.feature li {
  width: 14%;
  text-align: center;
  font-size: 16px;
}
.feature li .feature-image {
  border: 1px solid var(--secondry-border);
  padding: 30px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
.feature li .feature-image img {
  width: 75px;
  margin: 20px;
}
.feature li p {
  margin-top: 10px;
}
.feature a {
  color: var(--primary-tag-bg);
}

.deal-of-the-day {
  margin: 100px 0 0 0;
  background-image: url(../images/deal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 130px 0;
  font-size: 16px;
}
.deal-of-the-day .deal-of-the-day-details {
  text-align: center;
  width: 40%;
}
.deal-of-the-day .deal-of-the-day-details h5 {
  font-size: 64px;
  font-weight: 500;
}
.deal-of-the-day .deal-of-the-day-details p {
  font-size: 26px;
  margin: 40px 0 60px;
  color: var(--primary-tag-bg);
}
.deal-of-the-day .deal-of-the-day-details ul h4 {
  font-size: 54px;
  color: var(--default-heading-text);
  margin: 0 0 20px 0;
  font-weight: normal;
}
.deal-of-the-day .deal-of-the-day-details ul li {
  font-size: 20px;
}
.deal-of-the-day .countdown-btn a {
  background: var(--secondry-bg);
  padding: 10px 20px;
  color: var(--default-bg);
  font-size: 16px;
  margin-top: 50px;
  display: inline-block;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.deal-of-the-day .countdown-btn a:hover {
  background: var(--default-heading-text);
}

.special-product ul {
  margin-top: 30px;
}
.special-product li {
  width: 32%;
  margin-left: 10px;
}
.special-product li:first-child {
  margin-left: 0;
}
.special-product h3 {
  font-size: 16px;
  margin-left: 20px;
  font-weight: 400;
}
.special-product a {
  color: var(--default-heading-text);
  margin-left: 20px;
}
.special-product p {
  font-weight: 500;
  margin-left: 20px;
}
.special-product span {
  color: var(--primary-tag-bg);
  text-decoration: line-through;
  font-weight: normal;
}
.special-product .special-products-details .star-2 {
  margin-left: 20px;
}
.special-product .special-products-details .star-2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 10px;
}
.special-product .special-products-details .star-2 li {
  width: 10%;
}

.about {
  margin: 100px 0 0 0;
}
.about .left-panel {
  width: 49%;
}
.about .right-panel {
  width: 49%;
}
.about .right-panel p {
  color: var(--primary-tag-bg);
  margin: 22px 0 40px;
  line-height: 30px;
}
.about .right-panel a {
  font-size: 16px;
  background: var(--secondry-bg);
  padding: 10px 20px;
  color: var(--default-bg);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.about .right-panel a:hover {
  background: var(--default-heading-text);
}
.about .right-panel span {
  color: var(--secondry-bg);
}

.testimonial-wraper {
  margin-top: 100px;
}
.testimonial-wraper .testimonial-bg {
  background: var(--primary-bg);
  padding: 40px 20px;
  width: 49%;
}
.testimonial-wraper .testimonial-bg .testimonial-heading {
  text-align: center;
}
.testimonial-wraper .testimonial-bg .testimonial {
  margin-top: 40px;
}
.testimonial-wraper .testimonial-bg .testimonial h3 {
  font-size: 24px;
  color: var(--secondry-bg);
  margin-left: 20px;
}
.testimonial-wraper .testimonial-bg .testimonial h4 {
  font-size: 32px;
  margin: 10px 15px 15px;
  font-weight: normal;
}
.testimonial-wraper .testimonial-bg .testimonial p {
  margin: 0 40px 0 20px;
  color: var(--primary-tag-bg);
}
.testimonial-wraper .newsletter {
  text-align: center;
}
.testimonial-wraper .newsletter h3 {
  font-size: 32px;
  font-weight: normal;
  margin: 60px 0 10px;
}
.testimonial-wraper .newsletter p {
  color: var(--primary-tag-bg);
}
.testimonial-wraper .subscribe-email {
  margin: 40px 0;
  text-align: center;
  position: relative;
}
.testimonial-wraper .subscribe-email .email {
  padding: 20px 10px;
  width: 480px;
  font-size: 16px;
  border: none;
  outline: none;
}
.testimonial-wraper .subscribe-email .subscribe-btn {
  font-size: 16px;
  background: var(--secondry-bg);
  padding: 14px 25px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  color: var(--default-bg);
  position: absolute;
  top: 0;
  right: 0;
}
.testimonial-wraper .subscribe-email .subscribe-btn:hover {
  background: var(--default-heading-text);
}

.deal-products ul {
  margin-top: 40px;
}
.deal-products li {
  width: 25%;
  text-align: center;
  position: relative;
}
.deal-products .sold-out-tag {
  position: absolute;
  top: 10px;
  right: 20px;
  background: var(--sold-out-bg);
  color: var(--default-bg);
  border-radius: 5px;
  padding: 5px 10px;
  line-height: 20px;
  font-size: 10px;
}
.deal-products h5 {
  font-size: 20px;
  font-weight: normal;
  color: var(--default-heading-text);
}
.deal-products p {
  color: var(--default-heading-text);
  font-size: 20px;
  font-weight: 500;
}
.deal-products span {
  color: var(--primary-tag-bg);
  text-decoration: line-through;
  font-weight: normal;
}
.deal-products .deal-countdown {
  background: var(--default-bg);
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 20px;
  color: var(--default-heading-text);
  position: absolute;
  bottom: 80px;
  left: 60px;
}

.companies {
  margin: 100px 0;
}
.companies li {
  width: 13%;
}

.latest-news li {
  width: 49%;
}
.latest-news .latest-news-details {
  margin-top: 40px;
}
.latest-news .latest-news-details img {
  width: 214px;
  height: 214px;
  border-radius: 50%;
  margin-right: 20px;
}
.latest-news .latest-news-details h4 {
  font-size: 20px;
  font-weight: normal;
}
.latest-news .latest-news-details .date {
  color: var(--default-bg);
  background: var(--secondry-bg);
  padding: 5px 20px;
  border-radius: 30px;
  display: inline-block;
  margin: 14px 0 12px;
}
.latest-news .latest-news-details h5 {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: normal;
}
.latest-news .latest-news-details p {
  color: var(--primary-tag-bg);
}

.facilities-bg {
  background: var(--secondry-bg);
  padding: 20px 30px;
  margin-top: 100px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.facilities-bg .facilities .facilities-image {
  background: var(--default-bg);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-right: 20px;
}
.facilities-bg .facilities .facilities-image img {
  margin: 15px;
}
.facilities-bg .facilities h4 {
  font-size: 16px;
  color: var(--default-bg);
}
.facilities-bg .facilities p {
  color: var(--default-bg);
}