// font-size
$font-size16: 16px;
$font-size26: 26px;
$font-size36: 36px;
$font-size54: 54px;
$font-size10: 10px;
$font-size24: 24px;
$font-size28: 28px;
$font-size20: 20px;
$font-size64: 64px;
$font-size32: 32px;

// width
$width100: 100%;
$width49: 49%;

// border-radius
$border-radius30: 30px;
$border-radius5: 5px;
$border-radius50: 50%;

// transition
$transition5: .5s ease;

// margin
$margin100: 100px 0 0 0;

// box-shadow
$box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);